@{
    ViewData["Title"] = "About Us";
}


<section id="hero" class="d-flex align-items-center">
    <div class="h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6 justify-content-center order-2 order-md-1">
                <div class="typography">
                    <h1>
                        Discover Your Next Adventure
                    </h1>
                    <h3 data-aos="fade-up">
                        Explore our extensive collection of eBooks
                        Listening <br> and find your new favorite.
                    </h3>



                </div>
                <br>
            




            </div>

           


        </div>

</section>



<div class="container mt-5" style="height=100vh">
    <div class="row mb-5">
        <div class="col-md-6 p-5">
            <h3>Our Mission</h3>
            <p>
                At <strong>EBOOK_AD</strong>, the mission is to provide readers with a seamless and enjoyable reading experience.
                By offering a wide variety of eBooks across genres, we aim to make reading accessible to everyone.
            </p>
        </div>
        <div class="col-md-6 p-5">
            <img src="/images/about2.jpg" alt="Mission Image" class="img-fluid rounded shadow" />
        </div>
    </div>

    <div class="row mb-5" style="height=100vh">
        <div class="col-md-6 order-md-2 p-5">
            <h3>Our Vision</h3>
            <p>
                Our vision is to become the global leader in eBook platforms, fostering a community of book lovers and
                empowering authors to share their stories with the world.
            </p>
        </div>
        <div class="col-md-6 order-md-1 p-5">
            <img src="/images/about3.jpg" alt="Vision Image" class="img-fluid rounded shadow" />
        </div>
    </div>

    <div class="row mb-5" style="height=100vh">
        <div class="col-12">
            <h3>About the Team</h3>
            <p>
                Behind <strong>EBOOK_AD</strong> is a team of passionate developers, designers, and book enthusiasts dedicated to
                delivering the best eBook experience. With a commitment to quality and innovation, we continuously strive
                to improve our platform.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Contact Information</h3>
            <p>
                Have questions or feedback? Reach out to us anytime:
            </p>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> <a href="mailto:support@ebookad.com">support@ebookad.com</a></li>
                <li><strong>Phone:</strong> +123 456 7890</li>
                <li><strong>Address:</strong> 123 Digital Library Lane, Booktown</li>
            </ul>
        </div>
    </div>
</div>
